.amlignore
.zip
.chroma/
.ipynb_checkpoints/
.ipynb_aml_checkpoints/ 
__pycache__/
common/__pycache__/
.streamlit/
*.amltmp 
*.amltemp
data/
credentials.env
.azure/
.vscode/
infra/target/
**/__pycache__/

# Add the specific path to exclude the credentials.env file
AdHocDemos/Accelerator/credentials.env